<% content_for(:sentence, @chapter.sentence) %>
<% content_for(:author, @chapter.author) %>
<% content_for(:pic, @chapter.pic) %>
<h1><%= @chapter.sentence %></h1>
<h1><%= @chapter.author %></h1>
<img src="<%= @chapter.pic %>">

<!-- <button><% @chapter.next %> Next </button>
<button><% @chapter.prev %> Prev </button> -->

<h2><a href="/stories/
  <% if (@chapter.id - 1) > 1 %>
    <%= @chapter.id - 1 %>
  <% else %>
    1
  <% end %>
  /chapters/<%= @chapter.story_id %>">Previous</a></h2>

  <h2><a href="/stories/
    <% if @chapter.id + 1 %>
      <%= @chapter.id + 1 %>
    <% else %>
      1
    <% end %>
    /chapters/<%= @chapter.story_id %>">Next</a></h2>


<h3><a href="/stories">Stories</a></h3>
